/* Progress Bar Styling */
QProgressBar {
    border: 1px solid #444;
    border-radius: 5px;
    text-align: center;
    background-color: #222;
    color: white;
    height: 20px;
}

QProgressBar::chunk {
    background-color: #3498db;
    width: 10px;
    margin: 0.5px;
    border-radius: 3px;
}
